<html>
    <head>
        <title>Calculator</title>
        <link rel="stylesheet" href="static/css/stylesheet.css">
        <script src="static/js/jquery-3.7.1.min.js"></script>
        <script src="static/js/events.js"></script>
    </head>
    <body>
        <h1>Calculator</h1>
        <p>
            Welcome to the calculator website!
        </p>
        <p>
            This website uses a Python server to parse and evaluate arithmetic expressions.
        </p>
        <p>
            Enter an arithmetic expression into the text field below, and click "Evaluate" to evaluate the expression.
        </p>
        <br/>
        <form id="inputform">
            <input type="text" name="expression" size="50">
            <input type="submit" value="Evaluate">
        </form>
        <p id="result"></p>
    </body>
</html>
